<div class="container">
  <div class="screen-overlay"></div>
  <main class="main-wrap mx-auto">
    <section class="content-main">
      <div class="content-header">
        <h2 class="content-title">Users</h2>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table id="userTable" class="table table-hover">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Registered</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <% user.forEach(function(item) { %>
              <tbody>
                <tr>
                  <td width="40%">
                    <a href="#" class="itemside">
                      <div class="info pl-3">
                        <h6 class="mb-0 title">
                          <%= item.name %>
                        </h6>
                        <small class="text-muted"> ID: <%= item._id %></small>
                      </div>
                    </a>
                  </td>
                  <td>
                    <%= item.email %>
                  </td>
                  <% if (item.status == true) { %>
                  <td><span class="badge rounded-pill alert-success">Active</span></td>
                  <% } else { %>
                  <td><span class="badge rounded-pill alert-danger">Inactive</span></td>
                  <% } %>
                  <td>
                    <%= new Date(item.createdAt).toDateString() %>
                  </td>
                  <td class="text-end">
                    <button class="btn btn-info text-white">
                      <a href="/admin/order-list/<%=item._id%>">Orders</a>
                    </button>
                  </td>
                  <td class="text-end">
                  </td>
                </tr>
              </tbody>
              <% }); %>
            </table>
          </div>
        </div>
      </div>
     
    </section>
  </main>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script>
  var $j = jQuery.noConflict(); // Assign a different variable to avoid conflicts
  
  $j(document).ready(function() {
    $j('#userTable').DataTable();
  });
</script>
